<div class="container">
    <div class="row">
        <div class="offset-4 col-4 mt-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{libro.imagen}}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>{{libro.titulo}}</h2>
                            <p>{{libro.descripcion}}</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" (click)="anterior()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" (click)="siguiente()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>
        </div>

    </div>
</div>